<form method="post" action="{{ path('admin_reservation_delete', {'id': reservation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
    <button class="btn btn-outline-danger px-3 my-2 btn-sm text-nowrap">
        <i class="bi bi-x-circle me-2"></i>
        Supprimer
    </button>
</form>
