<section class="services container my-5">
	<div class="row g-0 gap-2 justify-content-center">
		<div class="card col-lg-5 d-flex align-items-center flex-column flex-md-row">
			<div class="col-md-6">
				<img src="https://picsum.photos/250/300?random=1" class="img-fluid" alt="...">
			</div>
			<div class="col-md-6">
				<div class="d-flex flex-column justify-content-between">
					<div class="card-body flex-grow-1">
						<p class="card-text">
							<small class="text-muted">Posté le 04/06/2022</small>
						</p>
						<h5 class="card-title">Animation DJ</h5>
						<p class="card-text">Service essentiel à l'ambiance de vos évènements...</p>
					</div>
					<a href="#"  class="card-body">Lire la suite</a>
				</div>
			</div>
		</div>
		<div class="card col-lg-5 d-flex align-items-center flex-column flex-md-row">
			<div class="col-md-6">
				<img src="https://picsum.photos/250/300?random=2" class="img-fluid" alt="...">
			</div>
			<div class="col-md-6">
				<div class="d-flex flex-column justify-content-between">
					<div class="card-body">
						<p class="card-text">
							<small class="text-muted">Posté le 04/06/2022</small>
						</p>
						<h5 class="card-title">Borne à selfie</h5>
						<p class="card-text">Un souvenir de votre évènement pour chaque invité...</p>
					</div>
					<a href="#" class="card-body">Lire la suite</a>
				</div>
			</div>
		</div>
		<button class="btn my-3">Voir plus</button>
	</div>
</section>
