<section class="services container my-5">
<h1 class="my-5 text-center text-primary">Nos services</h1>
	<div class="row g-0 gap-4 justify-content-center">
		<div class="card col-lg-5 d-flex align-items-center flex-column flex-md-row">
			<div class="col-lg-6 col-md-4">
				<img src="https://picsum.photos/250/300?random=1" class="img-fluid mt-md-0 mt-3" alt="...">
			</div>
			<div class="col-lg-6 col-md-8">
				<div class="d-flex flex-column justify-content-between">
					<div class="card-body">
						<p class="card-text">
							<small class="text-muted">Posté le 04/06/2022</small>
						</p>
						<h5 class="card-title">Animation DJ</h5>
						<p class="card-text">Service essentiel à l'ambiance de vos évènements...</p>
					</div>
					<a href="#" class="card-body pt-0 text-decoration-none fst-italic">Lire la suite</a>
				</div>
			</div>
		</div>
		<div class="card col-lg-5 d-flex align-items-center flex-column flex-md-row">
			<div class="col-lg-6 col-md-4">
				<img src="https://picsum.photos/250/300?random=2" class="img-fluid mt-md-0 mt-3" alt="...">
			</div>
			<div class="col-lg-6 col-md-8">
				<div class="d-flex flex-column justify-content-between">
					<div class="card-body">
						<p class="card-text">
							<small class="text-muted">Posté le 04/06/2022</small>
						</p>
						<h5 class="card-title">Borne à selfie</h5>
						<p class="card-text">Un souvenir de votre évènement pour chaque invité...</p>
					</div>                    
					<a href="#" class="card-body pt-0 text-decoration-none text-primary fst-italic">Lire la suite</a>
				</div>
			</div>
		</div>
		<div class="card col-lg-5 d-flex align-items-center flex-column flex-md-row">
			<div class="col-lg-6 col-md-4">
				<img src="https://picsum.photos/250/300?random=3" class="img-fluid mt-md-0 mt-3" alt="...">
			</div>
			<div class="col-lg-6 col-md-8">
				<div class="d-flex flex-column justify-content-between">
					<div class="card-body">
						<p class="card-text">
							<small class="text-muted">Posté le 04/06/2022</small>
						</p>
						<h5 class="card-title">Animation DJ</h5>
						<p class="card-text">Service essentiel à l'ambiance de vos évènements...</p>
					</div>
					<a href="#"  class="card-body pt-0 text-decoration-none fst-italic">Lire la suite</a>
				</div>
			</div>
		</div>
		<div class="card col-lg-5 d-flex align-items-center flex-column flex-md-row">
			<div class="col-lg-6 col-md-4">
				<img src="https://picsum.photos/250/300?random=4" class="img-fluid mt-md-0 mt-3" alt="...">
			</div>
			<div class="col-lg-6 col-md-8">
				<div class="d-flex flex-column justify-content-between">
					<div class="card-body">
						<p class="card-text">
							<small class="text-muted">Posté le 04/06/2022</small>
						</p>
						<h5 class="card-title">Borne à selfie</h5>
						<p class="card-text">Un souvenir de votre évènement pour chaque invité...</p>
					</div>                    
					<a href="#" class="card-body pt-0 text-decoration-none text-primary fst-italic">Lire la suite</a>
				</div>
			</div>
		</div>
		<button class="btn btn-primary col-md-2 my-3">Voir plus</button>
	</div>
</section>
