<section class="services container my-5">
	<h1 class="my-5 text-center">Nos services</h1>
	<div class="row g-0 gap-3 justify-content-center">

		{% for article in articles %}
			<div class="card col-lg-5 col-md-12 col-8 d-flex align-items-center flex-column flex-md-row">
				<div class="col-lg-6 col-md-4 col-12">
					<img src="https://picsum.photos/250/300?random=1" class="img-fluid" alt="service DJ">
				</div>
				<div class="col-lg-6 col-md-8 flex-grow-1">
					<div class="d-flex flex-column justify-content-between">
						<div class="card-body">
							<p class="card-text">
								<small class="text-muted">{{ article.createdAt | date("d/m/Y")  }}</small>
							</p>
							<h5 class="card-title">{{ article.title }}</h5>
							<p class="card-text">{{ article.description | u.truncate(20, '...', false) }}.</p>
						</div>
						<a href="#" class="card-body pt-0 text-decoration-none fst-italic">Lire la suite</a>
					</div>
				</div>
			</div>
		{% endfor %}
		<a href="#" class="btn btn-outline-primary col-md-4 my-3">Voir plus</a>
	</div>
</section>
