{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Conditions générales
{% endblock %}

{% block body %}
	<main>
		<div class="container my-5">
			<div class="d-flex flex-column my-5">
				<h1 class="text-center">Conditions générales de vente et de prestation de service</h1>
				<span class="text-center">Mercredi 13 Avril 2022</span>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-1">ARTICLE 1 – CHAMP D’APPLICATION</h2>
					<p>Les présentes Conditions Générales de Vente constituent,
												             conformément à l’article L 441-1 du Code du Commerce, le socle unique de la relation commerciale entre les parties.</p>
					<p>Elles ont pour objet de définir les conditions dans lesquelles AOYOS, société à responsabilité limitée unipersonnelle, au capital de 1.000,00€, ayant son siège social 15 rue des Halles, 75001 PARIS, immatriculée au registre du commerce et des sociétés (RCS) de PARIS B sous le numéro 842 537 169 (ci-après « Le Prestataire ») fournit aux Clients professionnels (ci-après « Les Clients ou le Client ») 
												            qui lui en font la demande, via le site internet du Prestataire, par contact direct ou via un support papier, les services suivants :
					</p>
					<span>-La conception, l’organisation & la production d’évènements tels que des soirées d’entreprises, salons, expositions, inaugurations, lancement de produits, activations, opérations spéciales, …;
					</span>
					<br><span>-Le booking d’artistes & DJ au travers d’un catalogue d’artistes varié (ci-après « le Partenaire ou les Partenaires ») ;
					</span>
					<br><span>-La production & l’enregistrement professionnel de podcast corporate dans le studio du Prestataire ou au sein des locaux des Clients.
												(Ci-après « les Services »).
					</span>
					<p>Elles s’appliquent, sans restriction ni réserve, à tous les Services rendus par le Prestataire auprès des Clients de même catégorie, quelles que soit les clauses pouvant figurer sur les documents du Client, et notamment ses conditions générales d’achat.
												Conformément à la réglementation en vigueur, ces Conditions Générales de Vente sont systématiquement communiquées à tout Client (hors grossistes) qui en fait la demande, pour lui permettre de passer commande auprès du Prestataire. Elles sont également communiquées à tout Client
												 préalablement à la conclusion d’une convention unique visée aux articles L 441-3 et suivants du Code du Commerce, dans les délais légaux.</p>
					<p>Toute commande de Service implique, de la part du Client, l’acceptation des présentes Conditions Générales de Vente du Prestataire.
												Les renseignements figurant sur les catalogues, prospectus et tarifs du Prestataire sont donnés à titre indicatif et sont révisables à tout moment.
												Le Prestataire est en droit d’y apporter toutes modifications qui lui paraîtront utiles.
												Avec en option :
						<br>La location de borne à selfie de courte durée (24 à 48 heures) en complément des services mentionnés plus haut.
												(ci-après « les Services »).</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 2 – COMMANDES</h2>
					<h3 class="fs-5">2-1 Conditions de commandes</h3>
					<p>Toute commande de prestation ne sera prise en considération qu’après retour d’un exemplaire du devis du Prestataire signé pour acceptation, avec indication des noms et qualité du signataire.
						Par dérogation, une commande téléphonique, ou par internet, peut être prise en considération lorsqu’elle émane d’un client habituel du Prestataire. Dans ce cas, le Prestataire confirmera la prise en compte de la commande soit par lettre soit par courrier électronique 
						reprenant les conditions établies lors de l’entretien téléphonique ou de l’échange par courrier électronique. Le silence qui suivra cette manifestation de volonté de la part du Prestataire vaudra acceptation des deux parties. Les commandes sont réputées fermes et définitives.
					</p>
					<p>En conséquence au cas où le client entendrait en modifier les termes de manière significative, les frais qui en découleraient seront à la charge du client et donneront lieu à la régularisation soit d’une autre commande, soit d’un avenant à la commande initiale, selon l’importance des modifications.
						De la même manière, pour le cas où la réalisation de la prestation commandée par le client au Prestataire, nécessiterait un travail supplémentaire à celui convenu dans le devis, notamment en ce qui concerne un événement qui se terminerait après l’heure initialement prévue, une facturation supplémentaire sur la base d’un pourcentage de dix pour-cent (10 %) du coût H.T. du devis par heure effectuée, sera mise à la charge du client.
						La restitution tardive d’une borne à selfie, soit plus de 24 heures après la fin de l’évènement, donnera également lieu au taux de facturation supplémentaire.
						Une commande d’un montant inférieur à trois cent (300) euros TTC est susceptible d’être refusée.
					</p>
					<h3 class="fs-5">2-2 Modification</h3>
					<p>Les éventuelles modifications de la commande demandées par le Client ne seront prises en compte, dans la limite des possibilités du Prestataire, que si elles sont notifiées par écrit, deux (2) jours au moins avant la date prévue pour la fourniture de Services commandés, après signature par le Client d’un bon de commande spécifique et ajustement éventuel du prix.
					</p>

					<h3 class="fs-5">2-3 Bon A Tirer</h3>
					<p>Tout bon à tirer (ci-après « BAT ») daté et signé par un client dégage toute responsabilité de la société AOYOS en cas d’erreur ou d’omission, à partir du moment où il a été tenu compte des modifications et / ou corrections portées sur le BAT.
					</p>
					<h3 class="fs-5">2-4 Annulation</h3>
					<p>En cas d’annulation de la commande par le Client après son acceptation par le Prestataire moins de deux (2) jours avant la date prévue pour la fourniture des Services commandés, pour quelque raison que ce soit hormis la force majeure, une somme correspondant à cent (100) % du prix total HT des Services sera acquise au Prestataire et facturée au Client, à titre de dommages et intérêts, en réparation du préjudice ainsi subi.</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 3 – TARIFS</h2>
					<p>Les prestations de services sont fournies aux tarifs du Prestataire en vigueur au jour de la passation de la commande, selon le devis préalablement établi par le Prestataire et accepté par le Client, comme indiqué à l’article “ Commandes ” ci-dessus.
						Les tarifs s’entendent nets et HT.
						Une facture est établie par le Prestataire et remise au Client lors de chaque fourniture de Services.
						Les conditions de détermination du coût des services dont le prix ne peut être connu a priori ni indiqué avec exactitude, ainsi que la méthode de calcul du prix permettant de vérifier ce dernier, 
						seront communiquées au Client ou feront l’objet d’un devis détaillé, à la demande du Client conformément aux dispositions de l’article L 441-1,III du Code de commerce.</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 4 – CONDITIONS DE RÈGLEMENT</h2>
					<h3 class="fs-5">4-1 . Délais de règlement</h3>
					<p>Un acompte correspondant à cinquante (50) % du prix total des Services commandés peut être exigé lors de la passation de la commande.
						Le solde du prix est alors payable au comptant, au jour de la fourniture desdites prestations, dans les conditions définies à l’article «Modalités de fourniture des Services» ci-après.
						Le Prestataire ne sera pas tenu de procéder à la fourniture des Services commandés par le Client si celui-ci ne lui en paye pas le prix dans les conditions et selon les modalités indiquées aux présentes Conditions Générales de Vente.
					</p>
					<p>Dans les cas où aucun acompte ne serait réclamé au Client, Le prix sera alors payable en totalité et en un seul versement dans un délai de trente (30) jours à compter de la fourniture des Services commandés, telle que définie aux présentes Conditions Générale de Vente (article “ Modalité de fourniture des Services ”), arrêté d’un commun accord entre le Client et le Prestataire lors de la négociation commerciale. Ce délai sera mentionné sur la facture qui sera remise au Client par le Prestataire.
					</p>
					<p>Les modes de paiement sécurisés suivants sont utilisés :
						<br>-Par cartes bancaires : Visa, MasterCard, American Express, & autres cartes bleues de manière ponctuelle sur les évènements ;
						<br>-Par virement bancaire ;
						<br>-Par chèque bancaire ;
						<br>Aucun frais supplémentaire, supérieur aux coûts supportés par le Prestataire pour l’utilisation d’un moyen de paiement ne pourra être facturé au Client.
						Aucun escompte ne sera pratiqué par le Prestataire pour paiement avant la date figurant sur la facture ou dans un délai inférieur à celui mentionné aux présentes Conditions Générales de Vente.
					</p>

					<h3 class="fs-5">4-2 . Pénalités de retard</h3>
					<p>En cas de défaut de paiement total ou partiel des services facturés, le client devra verser au Prestataire une pénalité de retard égale à une fois et demie (1,5) le taux d’intérêt légal en vigueur au jour de la facturation des services. Tous les frais que la société est amenée à supporter au titre de recouvrement de créances restant dues seront à la charge du client.
					</p>
					<h3 class="fs-5">4-3. Dépôt de garantie</h3>
					<p>Dans le cadre de la location d’une borne à selfie, une caution d’un montant de 2.000€ (deux mille euros) seras demandée au Client, afin de garantir toute dégradation du matériel.
						Le dépôt de garantie pourra être prélevé par chèque bancaire ou par empreinte de carte bancaire.
						En cas de forte dégradation dudit matériel constaté contradictoirement, le Prestataire aura la possibilité de demander une une garantie supérieure au dépôt initial. La garantie ne pouvant dépasser le prix du matériel loué.
						Un état des lieux de l’état du matériel et des salles louées, aura lieu avant sa remise au Client, et lors de sa restitution.</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 5 – MODALITÉS DE FOURNITURE DES SERVICES</h2>
					<p>Les délais relatifs aux prestations mentionnés sur les devis, ne sont donnés qu’à titre indicatif. Ils n’auront de caractère définitif qu’à la passation de la commande ferme, et à condition que l’ensemble des éléments constitutifs du travail commandé ait été reçu par le client en temps utile.
						Le défaut de respect du calendrier de travail prévu ou l’exigence de nouvelles contraintes, tant en termes de délais de réalisation qu’en termes de niveau de réalisation peut nuire au bon déroulement de la relation contractuelle et à la qualité du travail commandé.
						Le client en accepte les conséquences sans pouvoir exiger de réduction du prix convenu. La mise en place de nouvelles contraintes à l’initiative du client peut augmenter les délais de livraison, sans que la responsabilité du Prestataire ne puisse être mise en jeu.</p>
					<p>A défaut de réserves ou réclamations expressément émises par le Client lors de la réception des Services, ceux-ci seront réputés conformes à la commande, en quantité et qualité.
						Le Client disposera d’un délai d’une (1) semaine à compter de la fourniture des Services pour émettre, par écrit, de telles réserves ou réclamations, avec tous les justificatifs y afférents, auprès du Prestataire.
						Aucune réclamation ne pourra être valablement acceptée en cas de non respect de ces formalités et délais par le Client.</p>
					<p>Le Prestataire remboursera ou rectifiera le Client (dans la mesure du possible) dans les plus brefs délais et à ses frais, selon les modalités adéquates et agréées par le Client, les Services dont le défaut de conformité aura été dûment prouvé par le Client.
						En cas de demande particulière du Client concernant les conditions de fourniture des Services, dûment acceptées par écrit par le Prestataire, les coûts y afférent feront l’objet d’une facturation spécifique complémentaire, sur devis préalablement accepté par le Client.
					</p>
					<h3 class="fs-5">5.1 – Retrait / Livraison de la borne à selfie</h3>
					<p>La borne à selfie mise en location pourra être soit :
						<br>- Livrée par le Prestataire sur les lieux de l’évènement, moyennant des frais de livraison charge du Client ;
						<br>- Retirée dans les locaux du Prestataire, à la demande du Client.
						<br>Le mode de livraison sera choisi par le Client, à défaut de choix par ce dernier, le Prestataire pourra livrer sur les lieux de l’évènement le matériel et facturer des frais de livraison.
						Le retour sera, par défaut, toujours effectué dans les locaux du Prestataire. Le Prestataire étant susceptible de se déplacer sur les lieux de l’évènement, en cas d’accord de ce dernier avec le Client.
					</p>
					<h3 class="fs-5">5.2 – Utilisation de la borne à selfie</h3>
					<p>Le Client reconnaît avoir reçu toutes les informations relatives à l’utilisation de la borne à selfie et s’engage pendant toute la durée du contrat à :
						<br>- Maintenir la borne à selfie en bon état de fonctionnement ;
						<br>- Utiliser la borne à selfie uniquement pour l’usage auquel elle est destinée, et conformément aux instructions d’utilisation communiquées et à la législation en vigueur ;
						<br>- Être responsable de tous les dommages qui pourraient être occasionnés sur et par la borne à selfie ;
						<br>- Ne pas démonter, ajouter, modifier, déplacer ou enlever les composants et programmes de la borne à selfie ;
						<br>- S’adresser exclusivement auprès du Prestataire pour toutes les questions liées à un dysfonctionnement de la borne à selfie ;
						<br>- Eviter les endroits trop à découvert car la borne à selfie ne supporte pas une forte exposition au soleil, à la pluie et plus largement à toute sorte t’intempéries.</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 6 – RESPONSABILITÉ</h2>
					<p>Le client devra indemniser le Prestataire pour tout dommage ou perte, coûts et dépenses supportés par le Prestataire ou un de ses clients, prestataires ou employés et causés par le Client, un de ses invités, agents ou employés qui résulterait de l’organisation de l’événement.
						Le Prestataire décline toute responsabilité pour les dommages de quelque nature que ce soit (vols, …) affectant les biens de toute nature (effets personnels, matériels…) apportés par le client ou appartenant aux participants, quel que soit l’endroit où les biens sont entreposés (parking, salons, …).
						La responsabilité et la garde de la borne à selfie louée incombent au Client à compter du moment de la livraison de la borne à selfie et jusqu’à la restitution de celle-ci au Prestataire.</p>
				</div>

				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 7 – ASSURANCE</h2>
					<p>Dans le cadre de son activité, le Prestataire souscrit à une assurance Responsabilité Civile Organisateur professionnelle couvrant les incidents éventuels dont le Prestataire serait directement responsable (matériel ou personnel mis en cause).
						Néanmoins, le client est libre de souscrire auprès de la compagnie de son choix à une assurance complémentaire (assistance, prévoyance, annulation,…) pour couvrir tout incident dont ses participants ou représentants seraient directement responsables.</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 8 – ENGAGEMENT DE NON CONCURRENCE – NON CAPTATION</h2>
					<p>Une fois que le Prestataire a mis en relation un Client avec un Prestataire, ceux-ci ne peuvent plus contacter l’une ou l’autre des Parties directement pour des missions futures.
						Ainsi, les Clients et Partenaires s’engagent à ne pas se contacter directement, de telle sorte à se passer du Prestataire, sans l’accord exprès et préalable de ce dernier.
						Toute prise de contact direct, qui ne serait pas préalablement agréé par le Prestataire, sera de nature à engager la responsabilité de la Partie qui n’aurait pas respecté cet engagement, sur le fondement de la responsabilité contractuelle, du fait de la concurrence déloyale exercée sur le Prestataire au titre de la captation de sa clientèle.
					</p>
					<p>Outre l’octroi de dommages-intérêts au Prestataire, tout Client ou Partenaire qui causerait un trouble à l’activité économique du Prestataire du fait d’agissements de concurrence déloyale ou de captation de clientèle, s’engage à cesser lesdits agissements causant un trouble au Prestataire dans les plus brefs délais, ces agissements étant de nature à engager sa responsabilité auprès du Prestataire.
						De plus le Prestataire se réserve le droit de faire cesser ces agissements, ceux-ci causant un trouble à son activité économique.</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 9 – DROIT DE PROPRIÉTÉ INTELLECTUELLE</h2>
					<p>Le Prestataire reste propriétaire de tous les droits de propriété intellectuelle sur les études, dessins, modèles, prototypes, etc, réalisés (même à la demande du Client) en vue de la fourniture des services au Client. Le Client s’interdit donc toute reproduction ou exploitation desdites études, dessins, modèles et prototypes, etc, sans l’autorisation expresse, écrite et préalable du Prestataire qui peut la conditionner à une contrepartie financière.
						Toute oeuvre artistique protégée par des droits d’auteurs, représentée ou reproduite pour la réalisation d’une Prestation, nécessitant un paiement de droits à la SACEM sera mis à la charge du Client.</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 10 – DROIT À L’IMAGE</h2>
					<p>Les photos prises à l’aide de la borne à selfie peuvent être imprimées directement, envoyées par courrier électronique, ou encore stockées sur une galerie web à laquelle les Clients ont accès.
						En aucun cas le Prestataire ne fera un quelconque usage de ces photos dont l’unique but du stockage est de fournir au Client un service complémentaire gratuit.
						Ces photos seront définitivement supprimées des serveurs du Prestataire à l’issue d’un délai raisonnable.</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 11 – DONNÉES PERSONNELLES</h2>
					<p>Les données personnelles recueillies auprès des Clients font l’objet d’un traitement informatique réalisé par le Prestataire. Elles sont enregistrées dans son fichier Clients et sont indispensables au traitement de sa commande. Ces informations et données personnelles sont également conservées à des fins de sécurité, afin de respecter les obligations légales et réglementaires. Elles seront conservées aussi longtemps que nécessaire pour l’exécution des commandes et des garanties éventuellement applicables.
					</p>
					<p>Le responsable du traitement des données est le Prestataire. L’accès aux données personnelles sera strictement limité aux employés du responsable de traitement, habilités à les traiter en raison de leurs fonctions. Les informations recueillies pourront éventuellement être communiquées à des tiers liés à l’entreprise par contrat pour l’exécution de tâches sous-traitées, sans que l’autorisation du Client soit nécessaire.
					</p>
					<p>Dans le cadre de l’exécution de leurs prestations, les tiers n’ont qu’un accès limité aux données et ont l’obligation de les utiliser en conformité avec les dispositions de la législation applicable en matière de protection des données personnelles. En dehors des cas énoncés ci-dessus, le Prestataire s’interdit de vendre, louer, céder ou donner accès à des tiers aux données sans consentement préalable du Client, à moins d’y être contrainte en raison d’un motif légitime.
						Si les données sont amenées à être transférées en dehors de l’UE, le Client en sera informé et les garanties prises afin de sécuriser les données lui seront précisées.</p>
					<p>Conformément à la réglementation applicable, le Client dispose d’un droit d’accès, de rectification, d’effacement, et de portabilité des données le concernant, ainsi que du droit de s’opposer au traitement pour motif légitime, droits qu’il peut exercer en s’adressant au responsable de traitement à l’adresse postale ou électronique suivante : hello@aoyos.fr. En cas de réclamation, le Client peut adresser une réclamation auprès du délégué à la protection des données personnelles du Prestataire.</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 12 – IMPRÉVISION</h2>
					<p>En cas de changement de circonstances imprévisibles lors de la conclusion du contrat, conformément aux dispositions de l’article 1195 du Code civil, la Partie qui n’a pas accepté d’assumer un risque d’exécution excessivement onéreuse peut demander une renégociation du contrat à son cocontractant.</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 13 – FORCE MAJEURE</h2>
					<p>Les Parties ne pourront être tenues pour responsables si la non-exécution ou le retard dans l’exécution de l’une quelconque de leurs obligations, telles que décrites dans les présentes découle d’un cas de force majeure, au sens de l’article 1218 du Code civil.
						Constituent un cas de force majeure, notamment : une grève, un incendie, une catastrophe naturelle, une décision gouvernementale, une crise sanitaire, …
						La Partie constatant l’événement devra sans délai informer l’autre Partie de son impossibilité à exécuter sa prestation et s’en justifier auprès de celle-ci. La suspension des obligations ne pourra en aucun cas être une cause de responsabilité pour non-exécution de l’obligation en cause, ni induire le versement de dommages et intérêts ou pénalités de retard.
					</p>
					<p>L’exécution de l’obligation est suspendue pendant toute la durée de la force majeure si elle est temporaire et ne dépasse pas une durée de quinze (15) jours.
						Par conséquent, dès la disparition de la cause de la suspension de leurs obligations réciproques, les Parties feront tous leurs efforts pour reprendre le plus rapidement possible l’exécution normale de leurs obligations contractuelles. A cet effet, la Partie empêchée avertira l’autre de la reprise de son obligation par lettre recommandée avec demande d’avis de réception ou tout acte extrajudiciaire. Si l’empêchement est définitif ou dépasse une durée de quinze (15) jours , les présentes seront purement et simplement résolues selon les modalités définies à l’article «Résolution pour force majeure».
						Pendant cette suspension, les Parties conviennent que les frais engendrés par la situation seront répartis par moitié.</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 14 – RÉSOLUTION DU CONTRAT POUR FORCE MAJEURE</h2>
					<p>La résolution de plein droit pour force majeure, ne pourra, nonobstant la clause Résolution pour manquement d’une partie à ses obligations figurant ci-après, avoir lieu que quinze (15) jours après réception d’une mise en demeure notifiée par lettre recommandée avec demande d’avis de réception ou tout acte extrajudiciaire.
					</p>
					<p>Toutefois, cette mise en demeure devra mentionner l’intention d’appliquer la présente clause.
						Il est expressément convenu entre les Parties que le débiteur d’une obligation de payer aux termes de la présente convention, sera valablement mis en demeure par la seule exigibilité de l’obligation, conformément aux dispositions de l’article 1344 du Code civil.
						En tout état de cause, la Partie lésée pourra demander en justice l’octroi de dommages et intérêts.</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 15 – LITIGES</h2>
					<p>Règlement amiable des litiges
						En vue de trouver ensemble une solution à tout litige qui surviendrait dans l’exécution du présent contrat, les contractants conviennent de se réunir dans les quinze (15) jours à compter de la réception d’une lettre recommandée avec demande d’avis de réception, notifiée par l’une des deux parties.
					</p>
					<p>La présente procédure de règlement amiable constitue un préalable obligatoire à l’introduction d’une action en justice entre les Parties. Toute action introduite en justice en violation de la présente clause serait déclarée irrecevable.
						Toutefois, si au terme d’un délai quinze (15) jours, les Parties n’arrivaient pas à se mettre d’accord sur un compromis ou une solution, le litige serait alors soumis à la compétence juridictionnelle désignée ci-après.</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 16 – ATTRIBUTION DE JURIDICTION</h2>
					<p>Tous les litiges auxquels le présent contrat et les accords qui en découlent pourraient donner lieu, concernant tant leur validité, leur interprétation, leur exécution, leur résolution, leurs conséquences et leurs suites seront soumis au tribunal de commerce de Paris.

					</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 17 – LANGUE DU CONTRAT – DROIT APPLICABLE</h2>
					<p>Les présentes Conditions générales de vente sont régies par le droit français.
						Elles sont rédigées en langue française. Dans le cas où elles seraient traduites en une ou plusieurs langues, seul le texte français ferait foi en cas de litige.</p>
				</div>
				<div class="mb-3 mt-5">
					<h2 class="fs-4 mb-2">ARTICLE 18 – ACCEPTATION DU CLIENT</h2>
					<p>Les présentes Conditions Générales de Vente sont expressément agréés et acceptés par le Client, qui déclare et reconnaît en avoir une parfaite connaissance, et renonce, de ce fait, à se prévaloir de tout document contradictoire et, notamment, ses propres conditions générales d’achat, qui seront inopposables au Prestataire, même s’il en a eu connaissance.</p>
				</div>
			</div>
		</main>
	{% endblock %}
