{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <h1 class="text-primary">Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quas fugit provident ea commodi nulla assumenda eius aut cupiditate similique fuga optio, quaerat nihil! Perspiciatis quasi quas asperiores quis nihil.</p>
    <div class="container">
        <a href="#" class="btn btn-primary" data-aos="fade-up">Un boutton</a>
    </div>

    {% include "home/_services.html.twig" %}
    
{% endblock %}
