{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - Mentions légales
{% endblock %}

{% block body %}
	<main>
		<div class="container my-5">
			<div class="d-flex flex-column my-5">
				<h1 class="text-center">Mentions légales</h1>
				<span class="text-center">Mardi 8 Mars 2022</span>
				<div class="mb-3 mt-5">
					<p>Conformément aux dispositions des articles 6-III et 19 de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, 
						dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs, ci-après l'”utilisateur”, du site www.aoyos.fr , 
						ci-après le “site”, les présentes mentions légales.
						La connexion et la navigation sur le site par l’utilisateur implique acceptation intégrale et sans réserve des présentes mentions légales.
						Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».</p>
				</div>
				<div class="my-3">
					<h2 class="fs-4 mb-1">ARTICLE 1 – L’ÉDITEUR</h2>
					<p>
						L’édition du site est assurée par aoyos, EURL au capital de 1000 euros, immatriculée au Registre du Commerce et des Sociétés de PARIS
						 sous le numéro 84237169 dont le siège social est situé au 15 rue des Halles, 75001 Paris.
						<br>Numéro de téléphone : 0170060570
						<br>Adresse e-mail : hello@aoyos.fr
						<br>N° de TVA intracommunautaire : FR69842537169
                        <br>Le Directeur de la publication est Gaëtan LAURENT ci-après l'”éditeur”.
					</p>
				</div>
				<div class="my-3">
					<h2 class="fs-4 mb-1">ARTICLE 2 – L’HÉBERGEUR</h2>
					<p>
						L’hébergeur du site est la société IONOS SARL, dont le siège social est situé au 7 place de la Gare, BP 70109, 57200 Sarreguemines Cedex , 
						avec le numéro de téléphone : 09 70 80 89 11 et adresse mail : info@IONOS.fr.</p>
				</div>
				<div class="my-3">
					<h2 class="fs-4 mb-1">ARTICLE 3 – ACCÈS AU SITE</h2>
					<p>
						Le site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découler d’une nécessité 
						de maintenance.
						En cas de modification, interruption ou suspension du site, l’éditeur ne saurait être tenu responsable.
					</p>
				</div>
				<div class="my-3">
					<h2 class="fs-4 mb-1">ARTICLE 4 – COLLECTE DES DONNÉES</h2>
					<p>
						Le site assure à l’utilisateur une collecte et un traitement d’informations personnelles dans le respect de la vie privée conformément
						 à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.
						En vertu de la loi informatique et libertés, en date du 6 janvier 1978, l’utilisateur dispose d’un droit d’accès, de rectification, 
						de suppression et d’opposition de ses données personnelles. L’utilisateur exerce ce droit par mail à l’adresse email suivante : hello@aoyos.fr</p>
				</div>
				<div class="my-3">
					<p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site, sans autorisation de l’éditeur est prohibée et pourra entraîner des actions et
						 poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
				</div>
				<span class="my-3">Pour plus d’informations, se reporter aux CGV du site www.aoyos.fr accessibles à la rubrique “CGV”</span>
			</div>
		</div>
	</main>
{% endblock %}
