<section class="dj-home mb-5">
<div class="container-fluid d-flex flex-column align-items-center">
    <h1 class="header-title text-dark text-center my-5 py-3">aoyos, 1er employeur des DJ’s en France</h1>
    <div class="d-flex type-div justify-content-center align-items-center mt-3 mb-5 w-75">
        <h2 class="header-sub text-dark text-center" id="typeWriting" data-words="PSG., Parc des Princes., Rooftop., Lieux insolites.">
            <h3 class="header-sub text-dark blink pe-1 text-center">|</h3>
        </h2>
    </div>
    <div class="d-flex align-items-center flex-column mt-5 ">
    <a href="/" class="btn border-primary btn-hover w-100 h4 dj-btn bg-light btn-lg px-5">Se connecter</a>
    <h3 class="mt-5">Pas encore dans notre équipe?</h3>
    <a href="{{ path('app_registration')}}" class="btn bg-primary btn-hover w-100 h4 text-light dj-btn mt-3 btn-lg px-5">S'inscrire</a>
    </div>
</div>
</section>