{% extends 'base.html.twig' %}

{% block title %}Edit Production{% endblock %}

{% block body %}
    <h1>Edit Production</h1>

    {{ include('admin_production/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_production_index') }}">back to list</a>

    {{ include('admin_production/_delete_form.html.twig') }}
{% endblock %}
