{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ parent() }} - Éditer une réalisation{% endblock %}

{% block content %}
<main class="container">
	<a href="{{ path('app_admin_production_index') }}" class="btn btn-outline-dark px-3 mt-3">
		<i class="bi bi-arrow-left-square"></i>
		Retour
	</a>
    <h1 class="my-4">Éditer une réalisation</h1>
    {{ include('admin/production/_form.html.twig', {'icon': '<i class=\"bi bi-pen\"></i>', 'button_label': 'Éditer'}) }}
</main>
{% endblock %}
