<section class="reservation-form py-5">
    <h1 class="text-center mb-4">Réserver</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-outline-dark px-3">
            Suivant
        </button>
    {{ form_end(form) }}
</section>