<section class="landing-client d-flex flex-column justify-content-center align-items-center pb-5 mt-5">
	<h1 class="text-dark">Trouvez le DJ parfait pour votre évènement</h1>
	<div class="d-flex justify-content-center align-items-center mt-5 w-75">
		<h2 class="text-dark text-center" id="typeWriting" data-words="Afterwork., Séminaire d'entreprise., Soirée corporate., Évènement., Soirée d'entreprise.">
			<h3 class="text-dark blink pe-1 text-center">|</h3>
		</h2>
	</div>
</section>
