<section class="landing-client">
	<div class="position-relative h-100 d-flex flex-column justify-content-center align-items-center">
		<h1 class="header-title text-dark text-center">Trouvez le DJ parfait pour votre évènement</h1>
		<div class="type-div d-flex justify-content-center align-items-center mt-5 w-75">
			<h2 class="text-dark text-center" id="typeWriting" data-words="Afterwork., Séminaire d'entreprise., Soirée corporate., Évènement., Soirée d'entreprise.">
				<h3 class="text-dark blink pe-1 text-center">|</h3>
			</h2>
		</div>
		<div class="position-absolute top-100 start-50 translate-middle pb-5">
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="dark" class="bi bi-caret-down-fill" viewbox="0 0 16 16">
				<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
			</svg>
		</div>
	</div>
</section>
