{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- S'inscrire
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	{{ encore_entry_link_tags('registration') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<main class="container min-vh-100">
		<h1>Inscription</h1>
	</main>
{% endblock %}