{% extends 'admin/admin_base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block content %}
	<div class="container d-flex flex-column admin">
		<section class="reservations">
			<h1 class="mt-5 mb-2 ms-3">
				Nouvelles réservations
			</h1>
			<div class="row me-2 ms-2 mb-1 d-flex flex-row">
				{% for reservation in reservations %}
					{% include "admin/_cards_admin_events.html.twig" %}
				{% endfor %}
			</div>
		</section>
		<section class="djs">
			<h1 class="mb-2 ms-3 mt-5">
				Nouveaux Djs</h1>
			<div class="row me-2 ms-2 mb-5 d-flex flex-row">
				{% for artist in artists %}
					{% include "admin/_cards_admin_djs.html.twig" %}
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}
