@import "base/imports";
.#{$name-of-the-class} {
  @include transition-options;
}

/* UNDERLINES */

.#{$name-of-the-class}-underline-goes-left {
  @include underline-goes-left;
}

.#{$name-of-the-class}-underline-closing {
  @include underline-closing;
}

.#{$name-of-the-class}-underline-opening {
  @include underline-opening;
}

.#{$name-of-the-class}-underline-goes-right {
  @include underline-goes-right;
}