{% extends 'dj_dashboard/dj_dashboard_base.html.twig' %}

{% block title %}New Unavailability{% endblock %}

{% block content %}
    <h1>Create new Unavailability</h1>

    {{ include('dj_dashboard/unavailability/_form.html.twig') }}
{% endblock %}
