{% extends 'base.html.twig' %}

{% block title %}New Unavailability{% endblock %}

{% block body %}
    <h1>Create new Unavailability</h1>

    {{ include('jevais_tedelete/_form.html.twig') }}

    <a href="{{ path('app_jevais_tedelete_index') }}">back to list</a>
{% endblock %}
