{% extends 'dj_dashboard/dj_dashboard_base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Mes évènements
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<main class="container d-flex flex-column mt-5">

		<section class="reservations-dj">
			<h1 class="mt-3 mb-2 ms-3">
				Mes évènements
				{% if filtre == 'passes' %} passés
				{% elseif filtre == 'a-venir' %} à venir
				{% endif %}
			</h1>
			<div class="row me-2 ms-2 mb-1 d-flex flex-row w-100">
				{% for reservation in reservations %}
					{% include 'dj_dashboard/_cards_dj.html.twig' %}
				{% endfor %}
			</div>
		</section>

	</main>
{% endblock %}
