@import "variables.scss";

.sideBar {
    width: $sideBarWidth;
    position: fixed;
    background-color: $adminColor;
}

.sideBar a {
    font-family: $titleFont;
    color: $light;    
}

.sideBar .accordion-item, .sideBar .accordion-button {
    background-color: $adminColor;
    color: $light;
}

.sideBar .accordion-button:focus {
    box-shadow: none;
}

.sideBar .bi-house-door {
    fill: $light;
}

.bg-navbar-admin {
    background-color: $adminColor;
    font-family: $titleFont;
}