@import "variables.scss";

$topBarHeight: 60px;
$sideBarWidth: 300px;
$adminCardsHeight: 25rem;

.sideBar {
    width: $sideBarWidth;
    height: calc(100vh - $topBarHeight);
    top: $topBarHeight;
    overflow-y: auto;
    background-color: $adminColor;
}

.accordion-item a {
    font-family: $textFont;
    color: $light;  
}

.sideBar .accordion-item, .sideBar .accordion-button {
    background-color: $adminColor;
    color: $light;
}

.sideBar .accordion-button:focus, .btn:focus {
    box-shadow: none;
}

.sideBar .bi-house-door {
    fill: $light;
}

.topBar {
    height: $topBarHeight;
    background-color: $adminColor;
    font-family: $textFont;
    top: 0;
    position: sticky;
    z-index: 1;
}

.topBar h1 {
    font-weight: normal;
}

.admin-table-image {
    height:$adminTableImageSize;
}

.reservations .card {
    height: $adminCardsHeight;
}

.djs .card {
    height: $adminCardsHeight;
}

.admin-title-card {
    height: 80px;
    position: relative;
    top: 15px;
    z-index:1;
}

.reservation-show-admin input[type=search], .reservation-show-admin select {
    border-color: $dark;
}

.reservation-show-admin input[type=search]:focus , .reservation-show-admin select:focus {
    box-shadow: none;
}

.reservations-billed-admin .modal-content {
    height: 100vh;
}

.artist-name-link {
    color: darken($color: $secondary, $amount: 50%);
    &:hover {
        color: $dark;
    }
}


.admin-events > div:first-child {
    background: linear-gradient(98deg, $secondary 0%, $secondary 85%, rgba(255,255,255,1) 86%, rgba(255,255,255,1) 100%);
}
.admin-djs > div:first-child {
    background: linear-gradient(98deg, $primary 0%, $primary 85%, rgba(255,255,255,1) 86%, rgba(255,255,255,1) 100%);
}

.dj-details-cards {
    background-color: rgba($color: $light, $alpha: 0.8);
    border: 1px solid $primary;
}

.admin-nav-link {
    width: fit-content;
    font-family: $titleFont;
    color: $light;
    margin-left: 1.25rem;
    text-decoration: none;
}

.admin-nav-link:hover {
    color: $light;
}

@media screen and (max-width: 992px) {
    .admin-events > div:first-child {
        height: 4rem;
        background: $secondary;
    }
    .admin-djs > div:first-child {
        height: 4rem;
        background: $primary;
    }
}