@import "variables.scss";
@import "~bootstrap/scss/bootstrap";
@import 'aos/dist/aos.css';

@font-face {
    font-family: "Alpaca Scarlett";
    src: url("../fonts/AlpacaScarlett.woff2") format("woff2"),
        url("../fonts/AlpacaScarlett.woff") format("woff");
}

@font-face {
    font-family: "Mazzard H";
    src: url("../fonts/MazzardH-Regular.woff2") format("woff2"),
        url("../fonts/MazzardH-Regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Mazzard H";
    src: url("../fonts/MazzardH-Bold.woff2") format('woff2'),
        url("../fonts/MazzardH-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700;900&display=swap');
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $titleFont;
    font-weight: bold;
}

body {
    font-family: $textFont;
    line-height: $lineHeight;
}

.nav-link {
    font-family: $titleFont;
    font-weight: 200;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.nav-item {
     list-style: none;
}

.btn-nav {
    font-family: $titleFont;
    font-weight: 200;
}

.btn-client {
    min-width: $minWidthNavButton;
    color: darken($secondary, 30%);
    border: 1px solid darken($secondary, 20%);
}

.btn-dj {
    min-width: $minWidthNavButton;
    color: darken($primary, 30%);
    border: 1px solid darken($primary, 20%);
}

.navbar {
    box-shadow: 1px 1px 4px 1px $shadowColor; 
}

.btn-outline-primary:hover {
    color: $dark;
    box-shadow: 0px 0px 4px $primary;
    background-color: transparent;
}

.btn-outline-secondary:hover {
    color: $dark;
    box-shadow: 0px 0px 4px $secondary;
    background-color: transparent;
}

.footerContactInfo {
    border-right: 0.5px solid $light;
}
.btn-contact {
    box-shadow:  0 .5rem 1rem rgba($light, .15);
}

.w-fit {
    width: fit-content;
}

.title-underline {
    z-index: -1;
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 30%;
    top: 45%;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: $dark;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $dark;
    transform-origin: bottom left;
    transition: transform 0.35s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

a.anchor {
    display: block;
    position: relative;
    top: -$navHeight;
    visibility: hidden;
}