@import "variables.scss";
@import "~bootstrap/scss/bootstrap";
@import 'aos/dist/aos.css';

@font-face {
    font-family: "Alpaca Scarlett";
    src: url("../fonts/AlpacaScarlett.woff2") format("woff2"),
        url("../fonts/AlpacaScarlett.woff") format("woff");
}

@font-face {
    font-family: "Mazzard H";
    src: url("../fonts/MazzardH-Regular.woff2") format("woff2"),
        url("../fonts/MazzardH-Regular.woff") format("woff");
    font-weight: normal;
}

@font-face {
    font-family: "Mazzard H";
    src: url("../fonts/MazzardH-Bold.woff2") format('woff2'),
        url("../fonts/MazzardH-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $textFont;
    font-weight: bold;
}

body {
    font-family: $navFont;
    line-height: $lineHeight;
}

.btn-outline-primary:hover {
    color: $dark;
    box-shadow: 0px 0px 4px $primary;
    background-color: transparent;
}

.btn-outline-secondary:hover {
    color: $dark;
    box-shadow: 0px 0px 4px $secondary;
    background-color: transparent;
}