@import "variables.scss";

.img-services-card {
    object-fit: cover;
    object-position: center;
    height: 100%;
}

main {
    background-image: url("../images/gradient_lines.png");
    background-size: cover;
    background-position-y: -30%;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.card {
    background-color: transparent;
    &:nth-child(odd) {
        align-self: end;
    }
}

.services-list {
    min-height: 80vh;
}
