@import "variables.scss";

$btnSize: 350px;
$typeDivHeight: 60px;

main {
    height: 100%;
    background-image: url("../images/dots.png");
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
}

.header-title {
    font-size: clamp(3rem, 3.5vw, 6rem);
}

.header-sub {
    font-size: clamp(3rem, 3.5vw, 6rem);
}

.dj-btn {
    width: $btnSize;
}

.type-div {
    height: $typeDivHeight;
    content: "";
}

.btn-hover:hover {
    box-shadow: 0px 0px 4px $primary;
    background-color: transparent;
}

#typeWriting {
    font-size: clamp(3rem, 3.5vw, 6rem);
}
