@import "variables.scss";

$djCardsHeight: 18rem;
$topBarHeight: 60px;
$sideBarWidth: 300px;
$djShowCardWidth: 15rem;

.sideBar {
    width: $sideBarWidth;
    height: calc(100vh - $topBarHeight);
    top: $topBarHeight;
    overflow-y: auto;
    background-color: $adminColor;
}

.sideBar a {
    font-family: $textFont;
    color: $light;  
}

.sideBar .accordion-item, .sideBar .accordion-button {
    background-color: $adminColor;
    color: $light;
}

.sideBar .accordion-button:focus, .btn:focus {
    box-shadow: none;
}

.sideBar .bi-house-door {
    fill: $light;
}

.sideBar > div > a {
    font-family: $titleFont;
}

.topBar {
    height: $topBarHeight;
    background-color: $adminColor;
    font-family: $textFont;
    top: 0;
    position: sticky;
    z-index: 1;
}

.topBar h1 {
    font-weight: normal;
}

.dj-nav-link {
    padding-left: 1.25rem;
}

.reservations-dj .card-dj, .card-dj {
    height: $djCardsHeight;
}

.resa-header {
    font-family: $titleFont;
    font-weight: 500;
}

.dj-show-reservation {
    background-image: url(../images/dots.png);
    background-size: cover;
    width: 100%;
}

.dj-show-reservation-card {
    background-color: rgba($color: $light, $alpha: 0.8);
    border: 1px solid $primary;
    min-width: $djShowCardWidth;
}

.dj-property {
    color: darken($primary, 20%);
    font-weight: 600;
    font-size: 1.1rem; 
}
    
.dj-other-events {
    opacity:0.4;
}

.dj-other-events > div:first-child {
    background: linear-gradient(98deg, $secondary 0%, $secondary 85%, rgba(255,255,255,1) 86%, rgba(255,255,255,1) 100%);
}

.dj-other-events:hover {
    opacity:1;
}

.artist-documents img {
    max-width: 100%;
}

.vich-image img {
    width: 50%;
}

.dj-my-events > div:first-child {
    background: linear-gradient(98deg, $primary 0%, $primary 85%, rgba(255,255,255,1) 86%, rgba(255,255,255,1) 100%);
}
.dj-new-events > div:first-child {
    background: linear-gradient(98deg, $secondary 0%, $secondary 85%, rgba(255,255,255,1) 86%, rgba(255,255,255,1) 100%);
}

@media screen and (max-width: 992px) {
    .dj-my-events > div:first-child {
        height: 20%;
        background: $primary;
    }
    .dj-new-events > div:first-child {
        height: 20%;
        background: $secondary;
    }
    .dj-my-events > div:nth-child(2) {
        height: 80%;
    }
    .dj-new-events > div:nth-child(2) {
        height: 80%;
    }
    .dj-other-events > div:first-child {
        height: 20%;
        background: $secondary;
    }
    .dj-other-events > div:nth-child(2) {
        height: 80%;
    }
  }

