@import "variables.scss";

$djCardsHeight: 25rem;

.dj-nav-link {
    padding-left: 1.25rem;
}

.dj-title-card {
    height: 80px;
    position: relative;
    top: 15px;
    z-index: 1;
}

.reservations-dj .card {
    height: $djCardsHeight;
}