@import "variables.scss";

main {
    height: 100vh;
    background-image: url("../images/gradient_lines.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    background-image: url("../images/bg_client.webp");
    background-position: top;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(5rem, 30vw, 25rem);
    margin-inline-start: 3rem;
    letter-spacing: 3rem;
}
