@import "variables.scss";

.header-title {
    font-size: clamp(0.5rem, 10vh, 4rem);
}
.header-picture {
    background-image: url("../images/header-aoyos.jpeg");
    background-size: cover;
    background-position: center;
    height: $headerHeight;
    width: $headerWidth;
    position: relative;
}

.header-sub {
    font-size: clamp(0.5rem, 10vh, 4rem);
}
  
.header-picture,
.header-picture::before,
.header-picture::after {
    box-shadow: 1px 1px 1px $shadowColor;
    border: 1px solid $dark;
}
  
.header-picture::before,
.header-picture::after {
    content: "";
    position: absolute;
    height: 105%;
    width: 100%;
}
  
.header-picture::before {
    top: -10px;
    bottom: 10px;
    transform: rotate(-3deg);
    z-index: -1;
    background-color: $secondary;
}
  
.header-picture::after {
    top: -5px;
    bottom: -5px;
    transform: rotate(2deg);
    z-index: -2;
    background-color: $primary;
}

.blink {
    animation: blink 0.6s infinite;
}

@keyframes blink{
    to { opacity: .0; }
}

.partner-image {
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
}

.partner-image:hover {
    filter: none;
}