@import "variables.scss";

$productionCardHeight: 400px;
$productionImgHeight: 220px;
$productionTitleOffset: -50px;
$logoHeight: 200px;

.header-title {
    font-size: clamp(0.5rem, 7vh, 4.5rem);
}
.header-picture {
    background-image: url("../images/header-aoyos.jpeg");
    background-size: cover;
    background-position: center;
    height: $headerHeight;
    width: $headerWidth;
    position: relative;
}

.header-sub {
    font-size: clamp(0.5rem, 6vh, 4rem);
}
  
.header-picture,
.header-picture::before,
.header-picture::after {
    box-shadow: 1px 1px 1px $shadowColor;
    border: 1px solid $dark;
}
  
.header-picture::before,
.header-picture::after {
    content: "";
    position: absolute;
    height: 105%;
    width: 100%;
}
  
.header-picture::before {
    top: -10px;
    bottom: 10px;
    transform: rotate(-3deg);
    z-index: -1;
    background-color: $secondary;
}
  
.header-picture::after {
    top: -5px;
    bottom: -5px;
    transform: rotate(2deg);
    z-index: -2;
    background-color: $primary;
}

.blink {
    animation: blink 0.6s infinite;
}

.production > div::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../images/bg_production.svg");
    background-size: 50%;
    background-position-x: right;
    background-repeat: no-repeat;
    opacity: 0.2;
}

.production .card {
    height: $productionCardHeight;
}

.production .card-img-top {
    object-fit: cover;
    object-position: center;
    height: $productionImgHeight;
}

.production .card-title {
    margin-top: $productionTitleOffset;
}

.production .card-text {
    text-overflow:ellipsis;
    overflow:hidden;
    // Addition lines for 4 line or multiline ellipsis
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}

@keyframes blink{
    to { opacity: .0; }
}

.partner-image {
    filter: opacity(0.5);
    object-fit: contain;
    height: $logoHeight;
    transition: filter 0.5s ease-in-out;
}

.partner-image:hover {
    filter: none;
}

.aoyos-presentation {
    background-color: lighten($primary, 20%);
    border-radius: 4px 4px;
    filter: drop-shadow(0 0 0.1rem $primary)
}

.aoyos-presentation-logo {
    background-image: url("../images/favicon.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    border: 2px solid darken($primary, 20%);
    border-radius: 4px 4px;
    background-color: lighten($primary, 15%);
}

.aoyos-presentation h2 {
    position: relative;
}

.aoyos-logo-div {
    position:relative;
}

.square {
    position: absolute;
    z-index: 1;
    opacity: 0.8;
    width: $squareSize;
    height: $squareSize;
    border-radius: 4px 4px;
}

.yellow-square {
    background-color: $orangeLogo;
    top: 2%;
    left:13%;
    filter: drop-shadow(0 0 0.1rem $orangeLogo);
}

.pink-square {
    background-color: $pinkLogo;
    top: -3%;
    left: 17%;
    filter: drop-shadow(0 0 0.1rem $pinkLogo);
}

.blue-square {
    background-color: $blueLogo;
    bottom: 3%;
    right:13%;
    filter: drop-shadow(0 0 0.1rem $blueLogo);
}
.services::before {
    content: '';
    display: block;
    position: absolute;
    background: #f6f6f6;
    z-index: -2;
    height: 100%;
    width: 100%;
}
.services .card-title {
    margin-left: $productionTitleOffset;
}

.img-services-card {
    object-fit: cover;
    object-position: center;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .services .card-title {
        margin-left: 0;
        margin-top: $productionTitleOffset;
    }
    .img-services-card {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: auto;
    }
}