@import "variables.scss";

$widthBtnLogin : 2rem;

.h1-login {
    font-size: clamp(2rem, 10vh, 3rem);
}

.login-btn {
    border: 1px solid darken($primary, 15%);
    min-width: $widthBtnLogin;
}

.block-color {
    background-color: lighten($primary, 20%);
    border-radius: 4px 4px;
    filter: drop-shadow(0 0 0.1rem $primary);
}