@import "variables.scss";
$teamCardSize: 500px;
$teamImgSize: 250px;
$teamTitleOffset: -30px;
$djCardSize: 275px;

.team .card {
    height: $teamCardSize;
}

.team .card-img-top, .artists .card-img-top {
    object-fit: cover;
    object-position: center;
    height: $teamImgSize;
}

.team h2, .artists h2 {
    margin-top: $teamTitleOffset;
}

.w-fit {
    width: fit-content;
}

.bg-up {
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("../images/dotsagain.png");
    background-repeat: no-repeat;
    background-position-y: 20%;
    min-height: 80vh;
}

.title-underline {
    opacity: 1;
}

.artists {
    background-image: url("../images/cloud_lines.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 20%;
    background-position-x: 90%;
}

.role {
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 0;
}

.musical-style-tag {
    outline: solid 1px $primary;
    width: fit-content;
}

.artists .card-body {
    min-height: $djCardSize;
}

.disabled-icon {
    opacity: 25%;
}