$primary: #8426D7;
$secondary: #FF1C74;
$orangeLogo: #FFA930;
$blueLogo: #1C86FF;
$dark: #2D0055;
$light: #FFFFFF;
$adminColor: darken($blueLogo, 50%);
$titleFont: 'Mazzard H';
$textFont: 'Alpaca Scarlett';

$sideBarWidth: 15rem;
$accordion-icon-color: $light;
$accordion-icon-active-color: $light;
$accordion-border-width: 0;
