$primary: #C7ADDE;
$secondary: #93C6FF;
$orangeLogo: #FFA930;
$pinkLogo: #FF1C74;
$blueLogo: #1C86FF;
$purpleLogo: #8426D7;
$dark: #140025;
$light: #FFFFFF;
$navFont: "Alpaca Scarlett";
$textFont: 'Mazzard H';
$lineHeight: 1.5;