$primary: #C7ADDE;
$secondary: #93C6FF;
$orangeLogo: #FFA930;
$pinkLogo: #FF1C74;
$blueLogo: #1C86FF;
$purpleLogo: #8426D7;
$dark: #140025;
$light: #FFFFFF;
$shadowColor: rgba(20, 0, 37, 0.1);
$adminColor: darken($blueLogo, 50%);
$titleFont: "Mazzard H", sans-serif;
$textFont: 'Inter', sans-serif;

$lineHeight: 1.5;
$accordion-icon-color: $light;
$accordion-icon-active-color: $light;
$accordion-border-width: 0;

$headerWidth: 1150px;
$headerHeight: 450px;
$squareSize: 50px;
$adminTableImageSize: 60px;
$navHeight: 100px;
$minWidthNavButton: 100px;