{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil client
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('client') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('typeAnimation') }}
{% endblock %}

{% block body %}
	<main>
		{% include "components/client/_header.html.twig" %}
		{% include "components/client/_sales_proposal.html.twig" %}
		{% include "components/client/_form.html.twig" %}
	</main>
{% endblock %}
