<form method="post" action="{{ path('admin_dj_validate', {'id': artist.id}) }}" onsubmit="return confirm('Souhaitez-vous accepter cet artiste?');">
    <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ artist.id) }}">
    <button class="btn btn-outline-success w-75 btn-sm text-nowrap my-2"><i class="bi bi-check2"></i> Valider</button>
</form>