<form method="post" action="{{ path('admin_dj_deactivate', {'id': artist.id}) }}" onsubmit="return confirm('Souhaitez-vous désactiver le compte de cet artiste?');">
    <input type="hidden" name="_token" value="{{ csrf_token('deactivate' ~ artist.id) }}">
    <button class="btn btn-outline-danger w-75 btn-sm text-nowrap my-2"><i class="bi bi-x-square"></i> Désactiver</button>
</form>