<form method="post" action="{{ path('dashboard_dj_accept_reservation', {'id': reservation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir vous positionner sur cet évènement ?');">
        <div class="w-100 px-2 mb-2">
            <button class="btn btn-outline-secondary w-100 text-nowrap">
                <i class="bi bi-bookmark-check"></i> Accepter
            </button>
        </div>
</form>
