<form method="post" action="{{ path('dashboard_dj_accept_reservation', {'id': reservation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir vous positionner sur cet évènement ?');">
        <button class="btn btn-outline-secondary btn-lg w-100 text-nowrap px-2 my-2">
    <i class="bi bi-bookmark-check"></i> Accepter</button>
</form>
