{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ parent() }} - Éditer un membre de l'équipe{% endblock %}

{% block body %}
<main class="container">
    <h1 class="my-5">Édition d'un membre de l'équipe</h1>
    {{ include('admin_team_member/_form.html.twig', {'icon': '<i class=\"bi bi-pen\"></i>', 'button_label': 'Éditer'}) }}
</main>
{% endblock %}
