<div class="topBar d-flex w-100 justify-content-between align-items-center px-2">
	<a href="{{ path('app_home')}}" class="d-flex align-items-center gap-2 text-decoration-none">
		<img src="{{ asset('build/images/logo.png') }}" class="sideBarLogo" alt="aoyos-logo">
		<h1 class="text-light fs-3 m-0">aoyos</h1>
	</a>
	<button class="d-md-none px-2 btn text-light d-flex pb-0 align-items-center" type="button" data-bs-toggle="offcanvas" data-bs-target=".sideBar">
		<i class="bi bi-list-ul fs-2"></i>
	</button>
</div>