<div class="container-fluid d-flex flex-column align-items-center">
<h1 class="header-title text-dark text-center my-5">La solution évènementielle clé en main</h1>
<div class="header-picture d-flex justify-content-center align-items-center mt-3">
<h2 class="header-sub text-light" id="word"><h3 class="header-sub text-light blink pe-1">|</h3></h2>
</div>
</div>