<div class="container-fluid d-flex flex-column align-items-center">
    <h1 class="header-title text-dark text-center my-5 py-3">La solution évènementielle clé en main</h1>
    <div class="header-picture d-flex justify-content-center align-items-center mt-3 w-75">
        <h2 class="header-sub text-light text-center" id="typeWriting" data-words="Afterwork., Séminaire d'entreprise., Soirée corporate., Évènement., Soirée d'entreprise.">
            <h3 class="header-sub text-light blink pe-1 text-center">|</h3>
        </h2>
    </div>
</div>