{% for category, messages in app.flashes %}
    {% for message in messages %}
        <div class="text-center alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}