<footer class="d-flex flex-wrap flex-column justify-content-center align-items-center py-3 border-top bg-dark mt-auto">
	<h1>
		<a href="{{ path('app_contact') }}" class="text-decoration-none text-light fs-2 mb-0">Nous contacter
		</a>
	</h1>
	<div class="d-flex my-2">
		<ul class="nav list-unstyled d-flex flex-column pe-3 footerContactInfo">
			<li class="ms-3 text-light">01 70 06 05 70</li>
			<li class="ms-3 me-3 text-light">hello@aoyos.fr</li>
		</ul>
		<ul class="nav list-unstyled d-flex flex-column ms-3">
			<li class="ms-3 text-light">15 rue des Halles,</li>
			<li class="ms-3 me-3 text-light">75001, Paris.</li>
		</ul>
	</div>
	<div class="my-2">
		<ul class="nav list-unstyled d-flex">
			<li class="ms-3">
				<a class="text-light fs-1" href="#">
					<i class="bi bi-instagram"></i>
				</a>
			</li>
			<li class="ms-3 me-3">
				<a class="text-light fs-1" href="#">
					<i class="bi bi-facebook"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="d-flex align-items-center flex-md-row flex-column">
		<a href="#" class="text-light text-decoration-none">&nbsp; Conditions générales de vente et de prestation de service
			<span class="d-none d-md-inline">|</span>
		</a>
		<a href="#" class="text-light text-decoration-none">
			&nbsp;Mentions légales
			<span class="d-none d-md-inline">|</span>
		</a>
		<a href="/login" class="text-light text-decoration-none">
			&nbsp;Admin</a>
	</div>
</footer>
