<a class="anchor" id="presentation"></a>
<div class="row justify-content-center my-5 mx-0 px-0" data-aos="fade-up" data-aos-duration="500">
	<div class="d-flex flex-wrap aoyos-presentation justify-content-center flex-column col-11 align-items-center mt-5 pb-4 mx-auto">
		<h2 class="py-4 fs-1 mt-0 mb-4">
			<img src="{{ asset('build/images/title_underline_blue.png') }}" class="title-underline" alt="">
			Qui sommes-nous ?
		</h2>
		<div class="d-flex align-items-center">
			<div class="col-md-7 align-self-start justify-content-center ps-4 mb-2">
				<p class="mt-2 mb-4">Team de créatifs, nous concevons pour vous un événement innovant et une communication à votre image selon vos besoins.
									À l’écoute, réactifs et disponibles, nous vous apportons conseils et solutions sur-mesure. 
									Profitez d’une gamme complète de services pour un événement tout-en-un.
				</p>
				<div class="d-flex flex-wrap pt-1">
					<h3 class="fs-4 d-flex align-items-center">
						<i class="bi bi-arrow-right fs-2 pe-2 mt-1"></i>
						De la conception à la réalisation</h3>
					<p class="mb-4">Confiez-nous votre projet dans son intégralité pour mettre en place un événement qui vous ressemble.
					</p>
				</div>
				<div class="d-flex flex-wrap mt-2">
					<h3 class="fs-4 d-flex align-items-center">
						<i class="bi bi-arrow-right fs-2 pe-2 mt-1"></i>
						Gamme complète de services</h3>
					<p class="mb-4">Bénéficiez de notre catalogue avec de nombreuses possibilités. Une offre éclectique et riche pour répondre à toutes les demandes.
					</p>
				</div>
			</div>
			<div class="d-md-flex aoyos-logo-div d-none justify-content-center align-items-center h-100 w-100 py-4">
				<div class="square yellow-square"></div>
				<div class="square pink-square"></div>
				<div class="square blue-square"></div>
				<div class="aoyos-presentation-logo h-100 col-8 mb-3"></div>
			</div>
		</div>
		<a href="{{ path('app_team') }}" class="btn btn-outline-primary text-dark">Voir l'équipe</a>
	</div>
</div>
