<div class="row mt-5 justify-content-center mx-0 px-0" data-aos="fade-in" data-aos-duration="1000">
	<div class="d-flex flex-wrap aoyosPresentation justify-content-center flex-column col-10 align-items-center mt-5 pb-5 mx-auto">
		<h2 class="py-4 fs-1">Qui sommes-nous ?</h2>
		<div class="d-flex align-items-center">
			<div class="col-md-6 align-self-start ps-4 mb-2">
				<p class="mb-4">Team de créatifs, nous concevons pour vous un événement innovant et une communication à votre image selon vos besoins.
				À l’écoute, réactif et disponible, nous vous apportons conseils et solutions sur-mesure. 
				Profitez d’une gamme complète de services pour un événement tout-en-un.
				</p>
				<div class="d-flex flex-wrap">
					<h3 class="fs-4 pt-1">
						<i class="bi bi-arrow-right fs-3 pe-2"></i>
						De la conception à la réalisation</h3>
					<p class="mb-4">Confiez-nous votre projet dans son intégralité pour mettre en place un événement qui vous ressemble.
					</p>
				</div>
				<div class="d-flex flex-wrap">
					<h3 class="fs-4 pt-1">
						<i class="bi bi-arrow-right fs-3 pe-2"></i>
						Gamme complète de services</h3>
					<p>Bénéficiez de notre catalogue avec de nombreuses possibilités. Une offre éclectique et riche pour répondre à toutes les demandes.
					</p>
				</div>
			</div>
			<div class="d-flex justify-content-center h-100 w-100">
				<div class="mt-2 aoyosPresentationImage h-100 col-6 d-none d-md-inline"></div>
			</div>
		</div>
	</div>
</div>
