<section class="production mt-5 py-5">
    <div class="container-fluid">
        <h1 class="ms-5" data-aos="fade-up">Nos réalisations</h1>
        <div class="row mx-3">
            <div class="col-12">
                <div id="production-carousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% if productions is not empty %}
                            {% set newCarrouselItem = 0 %}
                            {% for production in productions %}
                                {% set newCarrouselItem = newCarrouselItem + 1 %}
                                {% if newCarrouselItem == 4 or loop.index == 1 %}
                                    {% set newCarrouselItem = 1 %}
                                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                        <div class="row mx-3 justify-content-center">
                                {% endif %}
                                <div class="col-lg-3 px-0 m-4">
                                    <div class="card shadow border border-secondary" data-aos="fade-in">
                                        <img src="{{ production.image }}" class="card-img-top border-bottom border-dark" alt="{{ production.title }}">
                                        <div class="card-body d-flex flex-column justify-content-between pb-5">
                                            <h5 class="card-title w-fit mx-auto text-dark bg-light border border-dark p-3">{{ production.title }}</h5>
                                            <p class="card-text">{{ production.description }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% if newCarrouselItem == 3 or loop.last %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <h2 class="h3 text-center">Aucune réalisation</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <a class="text-decoration-none me-5" href="#production-carousel" role="button" data-bs-slide="prev">
                    <i class="bi bi-arrow-left-square-fill h1 text-dark"></i>
                </a>
                <a class="text-decoration-none" href="#production-carousel" role="button" data-bs-slide="next">
                    <i class="bi bi-arrow-right-square-fill h1 text-dark"></i>
                </a>
            </div>
        </div>
    </div>
</section>