<form method="post" action="{{ path('admin_article_delete', {'id': article.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
        <button class="btn btn-outline-secondary btn-sm text-nowrap pb-0 px-2">
    <i class="bi bi-x-circle me-2"></i>Supprimer</button>
</form>
