{% extends 'admin/admin_base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Éditer un article
{% endblock %}

{% block content %}

	<main class="container">
		<a href="{{ path('admin_article_index') }}" class="btn btn-outline-dark my-3 pb-0 px-3 mt-3">
		<i class="bi bi-arrow-left-square"></i>
		Retour
	</a>
		<h1 class="my-4">Édition d'un article</h1>

		{{ include('admin/article/_form.html.twig', {'icon': '<i class=\"bi bi-pen\"></i>', 'button_label': 'Éditer'}) }}
	</main>

{% endblock %}
