	<nav class="sideBar d-lg-flex d-none flex-column justify-content-start align-items-start overflow-auto justify-self-start">
		<a href="#" class="d-flex align-items-center gap-2 text-decoration-none mb-5">
			<img src="{{ asset('build/images/favicon.png') }}" class="sideBarLogo ms-3" alt="aoyos-logo">
			<h1 class="text-light fs-2 mt-3">aoyos</h1>
		</a>
		<div class="accordion accordion-flush w-100" id="accordionFlushExample">
			<div class="accordion-item my-2">
				<h2 class="accordion-header" id="flush-headingOne">
					<button class="accordion-button d-flex collapsed align-items-end gap-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
						<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="24" height="24" class="bi bi-people" viewbox="0 0 16 16">
							<path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
						</svg>
						Utilisateurs
					</button>
				</h2>
				<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne">
					<div class="accordion-body">
						<ul>
							<li><a class="text-decoration-none" href="#">Dj</a></li>
							<li><a class="text-decoration-none" href="#">Client</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="accordion-item my-2">
				<h2 class="accordion-header " id="flush-headingTwo">
					<button class="accordion-button d-flex collapsed align-items-end gap-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-calendar-date" viewbox="0 0 16 16">
							<path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
							<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
						</svg>
						Réservations
					</button>
				</h2>
				<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
					<div class="accordion-body">
						<ul>
							<li><a class="text-decoration-none" href="#">Demandées</a></li>
							<li><a class="text-decoration-none" href="#">Acceptées</a></li>
							<li><a class="text-decoration-none" href="#">Validées</a></li>
							<li><a class="text-decoration-none" href="#">Passées</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="accordion-item my-2">
				<h2 class="accordion-header" id="flush-headingThree">
					<button class="accordion-button d-flex collapsed align-items-end gap-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-image" viewbox="0 0 16 16">
							<path d="M6.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
							<path d="M14 14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5V14zM4 1a1 1 0 0 0-1 1v10l2.224-2.224a.5.5 0 0 1 .61-.075L8 11l2.157-3.02a.5.5 0 0 1 .76-.063L13 10V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4z"/>
						</svg>
						Page d'accueil
					</button>
				</h2>
				<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree">
					<div class="accordion-body">
						<ul>
							<li><a class="text-decoration-none" href="#">Équipe</a></li>
							<li><a class="text-decoration-none" href="#">Projets</a></li>
							<li><a class="text-decoration-none" href="#">Services</a></li>
							<li><a class="text-decoration-none" href="#">Partenaires</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="accordion-item my-2">
				<h2 class="accordion-header" id="flush-headingFour">
					<button class="accordion-button d-flex collapsed align-items-end gap-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-person" viewbox="0 0 16 16">
							<path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
							<path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
						</svg>
						Page client
					</button>
				</h2>
				<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour">
					<div class="accordion-body">
						<ul>
							<li><a class="text-decoration-none" href="#">Prestations</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="accordion-item my-2">
				<h2 class="accordion-header" id="flush-headingFive">
					<button class="accordion-button d-flex collapsed align-items-end gap-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-music" viewbox="0 0 16 16">
							<path d="M11 6.64a1 1 0 0 0-1.243-.97l-1 .25A1 1 0 0 0 8 6.89v4.306A2.572 2.572 0 0 0 7 11c-.5 0-.974.134-1.338.377-.36.24-.662.628-.662 1.123s.301.883.662 1.123c.364.243.839.377 1.338.377.5 0 .974-.134 1.338-.377.36-.24.662-.628.662-1.123V8.89l2-.5V6.64z"/>
							<path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
						</svg>
						Page DJ
					</button>
				</h2>
				<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive">
					<div class="accordion-body">
						<ul>
							<li><a class="text-decoration-none" href="#">Style musical</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>