<form method="post" action="{{ path('admin_musical_style_delete', {'id': musical_style.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce genre musical ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ musical_style.id) }}">
    <button class="btn btn-outline-danger btn-sm text-nowrap px-2 my-2">
    <i class="bi bi-x-circle me-2"></i>Supprimer</button>
</form>
