<form method="post" action="{{ path('admin_musical_style_delete', {'id': musical_style.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ musical_style.id) }}">
    <button class="btn">Delete</button>
</form>
