{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ parent() }} - Éditer un style musical{% endblock %}

{% block content %}
<main class="container">
	<a href="{{ path('admin_musical_style_index') }}" class="btn btn-outline-dark mt-3">
		<i class="bi bi-arrow-left-square"></i>
		Retour
	</a>
    <h1 class="my-4">Édition d'un genre musical</h1>
    {{ include('admin/musical_style/_form.html.twig', {'icon': '<i class=\"bi bi-pen\"></i>', 'button_label': 'Éditer'}) }}
</main>
{% endblock %}
