{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{parent()}} - Ajouter un partenaire{% endblock %}

{% block content %}
<main class="container">
	<a href="{{ path('app_admin_partner_index') }}" class="btn btn-outline-dark pb-0 px-3 mt-3">
		<i class="bi bi-arrow-left-square"></i>
		Retour
	</a>
    <h1 class="my-4">Ajouter un partenaire</h1>

    {{ include('admin/partner/_form.html.twig', {'icon': '<i class=\"bi bi-plus-square\"></i>'}) }}
    </main>
{% endblock %}
